<?xml version="1.0" encoding="utf-8"?>
<!-- ### MaintenanceHandBook Configuration -->
<MaintenanceHandBookConfiguration>
  <Products>
    <Product Maintenance="BasicInspection" StorageDestination="EDS_RDC" IntervalInYears="1"/>
    <Product Maintenance="WristMaintenance" StorageDestination="EDS_RDC" IntervalInYears="2" IntervalInHours="10000"/>
    <Product Maintenance="MainAxisMaintenance" StorageDestination="EDS_RDC" IntervalInYears="4" IntervalInHours="20000"/>
    <Product Maintenance="MinorElectricalMaintenance" StorageDestination="EDS_CIB" IntervalInYears="2"/>
    <Product Maintenance="MajorElectricalMaintenance" StorageDestination="EDS_CIB" IntervalInYears="5"/>
    <!--Product Maintenance="BackLashMeasurement" StorageDestination="EDS_RDC" IntervalInYears="1"/-->
    <!--Product Maintenance="LinearTrackMaintenance" StorageDestination="EDS_RDC" IntervalInYears="1"/-->
    <!--Product Maintenance="InspectionSafeOperation" StorageDestination="EDS_RDC" IntervalInYears="1"/-->
    <!--Product Maintenance="DataBackupWithSpareHdd" StorageDestination="EDS_CIB" IntervalInYears="1"/-->
    <!--Product Maintenance="Repair" StorageDestination="EDS_CIB"/-->
  </Products>
  <LogFilePath>D:\MaintenanceLog.xml</LogFilePath>
  <SendToCsp>true</SendToCsp>
</MaintenanceHandBookConfiguration>
