<?xml version="1.0" encoding="UTF-8"?>
<PMService.user xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Schemas/PMService.user.xsd"><PowerDownType>Cold</PowerDownType><SoftpowerDownWithWindows>true</SoftpowerDownWithWindows><PowerFailDelayActive>true</PowerFailDelayActive><PowerFailDelayTime>1000</PowerFailDelayTime><DelayBeforeBusPowerOff>1000</DelayBeforeBusPowerOff><LogLevel>Info</LogLevel><RtsConnectionTestRateMs>10000</RtsConnectionTestRateMs><LoggerOutputType>ETW</LoggerOutputType></PMService.user>
