<?xml version="1.0" encoding="utf-8"?>
<SchedulerActionConfigurationData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ActionType>Time</ActionType>
  <ActionName>ProjectLeaseTimeMonitorAction</ActionName>
  <ActionDescription>ProjectLeaseTimeMonitorActionDescription</ActionDescription>
  <FirstTimeToExecute>2010-02-16T12:05:05.0001319+02:00</FirstTimeToExecute>
  <LastExecutionTime>2026-01-28T16:20:17.9625961+03:00</LastExecutionTime>
  <Enabled>true</Enabled>
  <ActionAssemblyName>C:\KRC\SERVICES\Scheduler\Actions\ProjectLeaseTimeMonitorSchedulerAction.dll</ActionAssemblyName>
  <ActionTypeName>WNP_Scheduler.ProjectLeaseTimeMonitorAction</ActionTypeName>
  <DependsOnCross>false</DependsOnCross>
  <HideConfiguration>true</HideConfiguration>
  <ConfigurableByUser>true</ConfigurableByUser>
  <PrivateConfigFile>C:/KRC/User/SchedulerAction.ProjectLeaseTimeMonitorAction.config</PrivateConfigFile>
  <RepeatInterval>00:00:30</RepeatInterval>
  <MinRepeatInterval>00:00:30</MinRepeatInterval>
</SchedulerActionConfigurationData>