<?xml version="1.0" encoding="utf-8"?>
<SchedulerActionConfigurationData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ActionType>Time</ActionType>
  <ActionName>ForceColdStartFallbackAction</ActionName>
  <ActionDescription>ForceColdStartFallbackActionDescription</ActionDescription>
  <FirstTimeToExecute>2010-02-16T12:05:05.0001319+02:00</FirstTimeToExecute>
  <LastExecutionTime>0001-01-01T00:00:00</LastExecutionTime>
  <Enabled>false</Enabled>
  <ActionAssemblyName>C:\KRC\SERVICES\Scheduler\Actions\ForceColdStartFallbackSchedulerAction.dll</ActionAssemblyName>
  <ActionTypeName>WNP_Scheduler.ForceColdStartFallbackAction</ActionTypeName>
  <PrivateConfigurationData>00:00:00</PrivateConfigurationData>
  <DependsOnCross>false</DependsOnCross>
  <HideConfiguration>true</HideConfiguration>
  <ConfigurableByUser>true</ConfigurableByUser>
  <PrivateConfigFile>C:/KRC/User/SchedulerAction.ForceColdStartFallbackAction.config</PrivateConfigFile>
  <RepeatInterval>00:00:00</RepeatInterval>
  <MinRepeatInterval>00:00:00</MinRepeatInterval>
</SchedulerActionConfigurationData>