<SecurityConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" DefaultRoleForNonAuthenticatedClients="Operator">
  <Certificate FindType="FindByThumbprint" FindValue="4DCFB182A3EF5E53FC908D7999273595E02BC430" StoreLocation="LocalMachine" StoreName="KUKA Roboter GmbH" />
  <Roles>
    <Role Name="Operator" WindowsUserGroup="KRC_ADMINISTRATORS" />
    <Role Name="Operator" WindowsUserGroup="KRC_EXPERTPROGRAMMERS" />
    <Role Name="Operator" WindowsUserGroup="User" IsWindowsBuiltInGroup="true" />
  </Roles>
</SecurityConfiguration>