RtosConfig
;-----------------------------------------------------------------------
; KUKA Roboter GmbH
;
; VxWorks configuration - KRC platform dependend
;
; This file defines KRC platform dependend (i.e. Office) features and
; includes common system and user configurations. It is called by
; the VxWin-Uploader tool.
;-----------------------------------------------------------------------

;-----------------------------------------------------------------------
; Includes
;-----------------------------------------------------------------------
#include "..\..\Common\VxWin\general.config"       ; VxWin general configuration (BoardPackage)
#include "..\..\Common\VxWin\device.config"        ; SMP related device configuration (BoardPackage)
#include "..\..\Common\VxWin\memory.config"        ; Memory related configuration
#include "..\..\Common\VxWin\kuka.config"          ; Platform & KSS related configuration
#include "..\..\..\User\Common\VxWin\knet.config"  ; Network related user configuration

;-----------------------------------------------------------------------
; End of file
;-----------------------------------------------------------------------
